<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mawai.ghmbplus.dao.TagMapper">

    <insert id="insertOrUpdateTag" parameterType="com.mawai.ghmbplus.model.Tag">
        INSERT INTO tag (name, use_count)
        VALUES (#{name}, 1)
        ON DUPLICATE KEY UPDATE
            use_count = use_count + 1
    </insert>

    <update id="updateUseCountByMap" parameterType="java.util.Map">
        UPDATE tag
        <set>
            use_count = CASE id
                <foreach item="entry" collection="tagIdCountMap.entrySet()" separator="," open="(" close=")">
                    WHEN #{entry.key} THEN use_count - #{entry.value}
                </foreach>
            END
        </set>
        WHERE id IN
        <foreach item="id" collection="tagIdCountMap.keySet()" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectByName" parameterType="string" resultType="com.mawai.ghmbplus.model.Tag">
        SELECT * FROM tag WHERE name = #{name}
    </select>

    <select id="selectHotTags" resultType="com.mawai.ghmbplus.model.Tag">
        select name, use_count from tag force index (idx_use_count) order by use_count desc limit 20
    </select>

    <select id="selectIdsByNames" resultType="java.lang.Long">
        select id from tag where name in
        <foreach item="name" collection="tags" separator="," open="(" close=")">
            #{name}
        </foreach>
    </select>

</mapper>